asgiref==3.6.0
autopep8==2.0.1
Beaker==1.12.0
certifi==2022.12.7
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cryptography==38.0.4
defusedxml==0.7.1
Django==4.1.4
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.6
django-cors-headers==3.7.0
django-forestadmin==1.0.5
django-ipware==3.0.7
django-jazzmin==2.6.0
ecdsa==0.18.0
future==0.18.2
idna==2.10
importlib-metadata==4.6.3
Mako==1.2.4
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-jsonapi==0.24.0
oic==1.2.1
packaging==22.0
Pillow==9.3.0
pyasn1==0.4.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.16.0
pyjwkest==1.4.2
python-dateutil==2.8.1
python-decouple==3.6
python-jose==3.3.0
pytz==2022.7
requests==2.25.1
rsa==4.9
six==1.16.0
sqlite-bro==0.12.2
sqlparse==0.4.3
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.13
zipp==3.11.0
