files:
    /usr/local/bin/del_inactive_acc_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/env/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python manage.py delete_inactive_accounts
 
    /etc/cron.d/del_inactive_acc_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/del_inactive_acc_script.sh